h1 {
    color:black;
    text-align: center;
}
table {
    border: 1px solid black;
}
.tableHead tr {
    background-color:blue;
    color: white;
}

.tableBody tr:hover {
    background-color: #f5f5f5;
}
.tableBody td, th {
    width: auto;
    padding: 5px;
    text-align: left;
}
.tableBody tr:nth-child(even) {
    background-color: #f2f2f2;
}